@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  /* background-color: rgb(159, 241, 220); */
  width: 100vw;
}
.titleTag {
  font-family: 'Poppins', sans-serif;
  margin-top: 2vw;
}
.container {
  /* border: 1px solid black; */
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo-item-container {
  /* border: 1px solid black; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1vw;
  margin: 1vw 0 1vw 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
}
